#header{
    font-size: 70px;
    margin:10% 47%;
    animation-duration: 3s;
    animation-name: slidein;
    position: absolute;
    color:coral;
}
@keyframes slidein{
    from{
        margin-top:-30%;
    }
    to{
        margin-top:10%;
    }
}
@keyframes fall1 {
    from{
        margin-left:-80%;
    }
    to{
        left:4%;
    }
}
@keyframes fall2 {
    
    from{
        margin-left:-80%;
    }
    to{
    }
}
@keyframes fall3 {
    
    from{
        margin-left: 99%;
    }
    to{
    }
}
@keyframes fall4 {
    
    from{
        margin-left:99%;
    }
    to{
    }
}
.positionstop{
    position: absolute;
    left:4%;
    top:60px;
    animation-duration: 5s;
    animation-name: fall1;
}
.positionstop2{
    position: absolute;
    left:65%;
    top:5%;
    animation-duration: 5s;
    animation-name: fall3;
}
.positionsbottom{
    position:absolute;
    top:55%;
    animation-duration: 5s;
    animation-name: fall2;
}
.positionsbottom2{
    position:absolute;
    left:65%;
    top:50%;
    animation-duration: 6s;
    animation-name: fall4;
}
.pictures{
    width:32%;
    height:24%;
    box-shadow: 8px 8px 5px #444;
}
.spictures{
    width:64%;
    height:48%;
    box-shadow: 8px 8px 5px #444;
}